body {
    background-color: #e6ecf0;
}

.dashboard-main {
    width: 590px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.centered-form {
    padding: 15px;
    margin: auto;
    max-width: 330px;
}

.centered-form > input {
    margin-bottom: 10px;
}

.new-kweet-form {
    overflow: auto;
    margin-bottom: 10px;
}

.kweet-list {
    padding-left: 0;
}

.kweet {
    background-color: white;
    list-style: none;
    border-bottom: 1px solid #e6ecf0;
    padding: 9px 12px;
    word-wrap: break-word;
}

.kweet-head {
    display: flex;
}

.kweet-author-group {
    margin-right: 5px;
}

.kweet-author-group:hover {
    text-decoration: none;
}

.kweet-author-display-name {
    color: #14171a;
}

.kweet-author-group:hover .kweet-author-display-name {
    color: #0084B4;
    text-decoration: underline;
}

.kweet-author-username {
    color: #657786;
}

.kweet-time a {
    color: #657786;
}

.kweet-time a:hover {
    color: #0084B4;
}

.kweet-time:before {
    content: "\00b7";
}

.kweet-author-img {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -50px;
    margin-top: 5px;
}

.kweet-inside {
    margin-left: 50px;
}

.kweet:hover {
    background-color: #f5f8fa;
}

.kweet-content {
    white-space: pre-wrap;
    margin-bottom: 0;
}

.kweet-content a {
    color: #0084B4;
}

/* Individual kweet page */

.ikweet-main {
    width: 640px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ikweet-head {
    margin-left: 72px;
    margin-bottom: 15px;
    display: flex;
}

.ikweet-author-img {
    margin-left: -72px;
    float: left;
}

.ikweet-author-group {
    line-height: 18px;
    float: left;
}

.ikweet-author-group:hover {
    text-decoration: none;
}

.ikweet-author-display-name {
    display: block;
    color: #292f33;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 5px;
}

.ikweet-author-group:hover .ikweet-author-display-name {
    text-decoration: underline;
    color: #0084B4;
}

.ikweet-author-username {
    color: #8899a6;
}

.ikweet-author-follow {
    margin-left: auto;
}

.ikweet-content {
    font-size: 28px;
    white-space: pre-wrap;
}

.ikweet-content a {
    color: #0084B4;
}

.ikweet-time {
    font-size: 13px;
    color: #8899a6;
}
