body {
    background-color: #e6ecf0;
}

.centered-form {
    padding: 15px;
    margin: auto;
    max-width: 330px;
}

.centered-form > input {
    margin-bottom: 10px;
}

.new-kweet-form {
    overflow: auto;
    margin-bottom: 10px;
}

.kweet-list {
    padding-left: 0;
}

.kweet {
    background-color: white;
    list-style: none;
    border-bottom: 1px solid #e6ecf0;
    padding: 9px 12px;
    word-wrap: break-word;
}

.kweet-head {
    display: flex;
}

.kweet-author-group {
    margin-right: 5px;
}

.kweet-author-display-name {
    color: #14171a;
}

.kweet-author-display-name:hover {
    color: #0084B4;
}

.kweet-author-username {
    color: #657786;
}

.kweet-time:before {
    content: "\00b7";
}

.kweet-author-img {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: -50px;
    margin-top: 5px;
}

.kweet-inside {
    margin-left: 50px;
}

.kweet:hover {
    background-color: #f5f8fa;
}

.kweet-content {
    white-space: pre-wrap;
}
